@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    margin: 0;
    overflow-x: hidden;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 1px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1c94b3;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0bc1f8;
  }